<footer>
	<div class="flex">
		<div>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nulla quam, hendrerit lacinia 
				vestibulum a, ultrices quis sem.</p>
			<p><img src="../../images/icon-phone.svg" alt="phone"/>Phone: +1-543-123-4567</p>
			<p><img src="../../images/icon-email.svg" alt="email"/>ciouzfood@gmail.com</p>
		</div>

		<div class="brands-icons">
			<img src="../../images/icon-facebook.svg" alt="facebook logo"/>
			<img src="../../images/icon-instagram.svg" alt="instagram logo"/>
			<img src="../../images/icon-twitter.svg" alt="twitter logo"/>
		</div> 
		
		<div>
			<h2>Newsletter</h2>
			<p>To recieve tips on how to improve your diet plan, sign up to our weekly newsletter. We’ll never 
				send you spam or pass on your email address</p>
			<div class="form">
				<input type="text"/>
				<button class="btn">Subscribe</button>
			</div>
		</div>
	</div>
	</footer>
<%- include("./_foot.ejs") %>